
$roboto: 'Roboto',sans-serif;
$raleway: 'Raleway',sans-serif;



$white-color: #fff;
$primary-color: #BE66BC;
$primary-dark: #C313C8;
$secondary-color: #3b1d82;
$blue-bg: #120f4e;
$primary-blue: #7264be;
$title-color: #222222;
$gray-color: #a9a9a9;
$black-gray: #363539
